/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/************* Colors **************/
/* line 11, ../sass/style.scss */
.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container:after {
  clear: both;
}
/* line 13, ../sass/style.scss */
.container #landing-signin {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
.container #landing-signin:last-child {
  margin-right: 0;
}
/* line 16, ../sass/style.scss */
.container #landing-signin #initialSignLogIn {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn:before, .container #landing-signin #initialSignLogIn:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn:after {
  clear: both;
}
/* line 18, ../sass/style.scss */
.container #landing-signin #initialSignLogIn .alternative {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn .alternative:before, .container #landing-signin #initialSignLogIn .alternative:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn .alternative:after {
  clear: both;
}

/*------------- Global --------------*/
/* line 27, ../sass/style.scss */
body {
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

/*---------- Buttons ----------*/
/* line 32, ../sass/style.scss */
a.button {
  border: 1px solid #076fe4;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
  background-image: -webkit-linear-gradient(#4294f0, #0776f3);
  background-image: linear-gradient(#4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  background-clip: padding-box;
  text-align: center;
}
/* line 79, ../sass/bourbon/addons/_button.scss */
a.button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #60a2ec;
  cursor: pointer;
  background-color: #2f87ea;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
  background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
  background-image: linear-gradient(#2f87ea, #086fe3);
}
/* line 95, ../sass/bourbon/addons/_button.scss */
a.button:active:not(:disabled) {
  border: 1px solid #076fe4;
  box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../sass/bourbon/addons/_button.scss */
a.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*--------- Sign Up/Log In Forms -------*/
/* line 39, ../sass/style.scss */
#landing-signin h1, #landing-signin h2, #landing-signin h3 {
  text-align: center;
}

/* line 43, ../sass/style.scss */
#initialSignLogIn input, #initialSignLogIn a.button {
  margin-bottom: 20px;
}
/* line 46, ../sass/style.scss */
#initialSignLogIn .alternative {
  padding: 30px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #bbbbbb;
  margin: auto -30px -30px -30px;
  text-align: center;
}

/* line 57, ../sass/style.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-radius: 6px;
  border: 1px solid #bbbbbb;
}
/* line 61, ../sass/style.scss */
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
  border: 1px solid #9ecaed;
}

/* line 68, ../sass/style.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], a.button {
  font-size: 16.18px;
  padding: 20px;
  width: 100%;
}

/* line 74, ../sass/style.scss */
.box {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  background-image: linear-gradient(#eeeeee, #dddddd);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  height: 100%;
}

/* line 83, ../sass/style.scss */
.signup-container {
  display: none;
}
