/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/************* Colors **************/
/* line 13, ../sass/style.scss */
.container {
  *zoom: 1;
  max-width: 80.5em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container:after {
  clear: both;
}
/* line 15, ../sass/style.scss */
.container #landing-signin {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%;
  margin-left: 25.53191%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
.container #landing-signin:last-child {
  margin-right: 0;
}
/* line 18, ../sass/style.scss */
.container #landing-signin #initialSignLogIn {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn:before, .container #landing-signin #initialSignLogIn:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn:after {
  clear: both;
}
/* line 20, ../sass/style.scss */
.container #landing-signin #initialSignLogIn .alternative {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn .alternative:before, .container #landing-signin #initialSignLogIn .alternative:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn .alternative:after {
  clear: both;
}

/* line 29, ../sass/style.scss */
#main-maps aside#search-box {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#main-maps aside#search-box:before, #main-maps aside#search-box:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#main-maps aside#search-box:after {
  clear: both;
}
/* line 32, ../sass/style.scss */
#main-maps section#content-body {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#main-maps section#content-body:before, #main-maps section#content-body:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#main-maps section#content-body:after {
  clear: both;
}
/* line 34, ../sass/style.scss */
#main-maps section#content-body aside#list-view {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
#main-maps section#content-body aside#list-view:last-child {
  margin-right: 0;
}
/* line 37, ../sass/style.scss */
#main-maps section#content-body div#map-view {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
#main-maps section#content-body div#map-view:last-child {
  margin-right: 0;
}

/* line 43, ../sass/style.scss */
footer {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
footer:last-child {
  margin-right: 0;
}

/*------------- Global --------------*/
/* line 49, ../sass/style.scss */
body, html {
  height: 100%;
  margn: 0;
  padding: 0;
}

/* line 55, ../sass/style.scss */
body {
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  color: #444444;
}

/* line 60, ../sass/style.scss */
h1 {
  font-size: 33.88641px;
}

/* line 61, ../sass/style.scss */
h2 {
  font-size: 20.94339px;
}

/* line 62, ../sass/style.scss */
h3 {
  font-size: 19.416px;
}

/* line 63, ../sass/style.scss */
p {
  font-size: 14.562px;
}

/* line 67, ../sass/style.scss */
a {
  color: #1db89c;
  -webkit-transition: all, 0.25s, ease-in-out;
  -moz-transition: all, 0.25s, ease-in-out;
  transition: all, 0.25s, ease-in-out;
}
/* line 70, ../sass/style.scss */
a:hover {
  color: #137664;
}

/*---------- Buttons ----------*/
/* line 76, ../sass/style.scss */
a.button {
  border: 1px solid #0d816c;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #49d8be;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #1db89c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1db89c), color-stop(100%, #0e8f77));
  background-image: -webkit-linear-gradient(#1db89c, #0e8f77);
  background-image: linear-gradient(#1db89c, #0e8f77);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #07725f;
  background-clip: padding-box;
  text-align: center;
}
/* line 79, ../sass/bourbon/addons/_button.scss */
a.button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #29c6a9;
  cursor: pointer;
  background-color: #1d9e87;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d9e87), color-stop(100%, #0e806b));
  background-image: -webkit-linear-gradient(#1d9e87, #0e806b);
  background-image: linear-gradient(#1d9e87, #0e806b);
}
/* line 95, ../sass/bourbon/addons/_button.scss */
a.button:active:not(:disabled) {
  border: 1px solid #0d816c;
  box-shadow: inset 0 0 8px 4px #0d725f, inset 0 0 8px 4px #0d725f, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../sass/bourbon/addons/_button.scss */
a.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*--------- Sign Up/Log In Forms -------*/
/* line 82, ../sass/style.scss */
.background-gradient {
  margin: -5px;
  padding-bottom: 160px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: -webkit-linear-gradient( white, #efefef) left repeat;
  background: linear-gradient( white, #efefef) left repeat;
}

/* line 92, ../sass/style.scss */
#landing-signin {
  margin-top: 30px;
}
/* line 94, ../sass/style.scss */
#landing-signin h1, #landing-signin h2, #landing-signin h3 {
  text-align: center;
}
/* line 96, ../sass/style.scss */
#landing-signin header img {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
#landing-signin header img:last-child {
  margin-right: 0;
}

/* line 106, ../sass/style.scss */
#initialSignLogIn {
  margin-top: 50px;
}
/* line 108, ../sass/style.scss */
#initialSignLogIn input, #initialSignLogIn a.button {
  margin-bottom: 20px;
  display: block;
}
/* line 112, ../sass/style.scss */
#initialSignLogIn .alternative {
  padding: 30px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #bbbbbb;
  margin: auto -30px -30px -30px;
  text-align: center;
}

/* line 123, ../sass/style.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-radius: 6px;
  border: 1px solid #bbbbbb;
}
/* line 127, ../sass/style.scss */
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
  border: 1px solid #9ecaed;
}

/* line 134, ../sass/style.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], a.button {
  font-size: 16.18px;
  padding: 20px;
  width: 100%;
}

/* line 140, ../sass/style.scss */
a.button {
  width: auto;
}

/* line 144, ../sass/style.scss */
.box {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(#efefef, #ececec);
  background-image: linear-gradient(#efefef, #ececec);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  height: 100%;
}

/* line 153, ../sass/style.scss */
.signup-container {
  display: none;
}

/*------- Mixins ----------*/
/*------ Top Navigation Bar ------*/
/* line 169, ../sass/style.scss */
header#topBar {
  *zoom: 1;
  display: block;
  padding: 10px 2.12766%;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
header#topBar:before, header#topBar:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
header#topBar:after {
  clear: both;
}
/* line 173, ../sass/style.scss */
header#topBar a#logo img {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  float: left;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
header#topBar a#logo img:last-child {
  margin-right: 0;
}
/* line 178, ../sass/style.scss */
header#topBar form {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-left: 25.53191%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
header#topBar form:last-child {
  margin-right: 0;
}
/* line 181, ../sass/style.scss */
header#topBar form input {
  padding: 4px 10px;
}
/* line 159, ../sass/style.scss */
header#topBar nav ul {
  float: right;
}
/* line 161, ../sass/style.scss */
header#topBar nav ul li {
  margin-left: 10px;
  display: inline;
  list-style-type: none;
}
/* line 188, ../sass/style.scss */
header#topBar nav ul li:last-child {
  margin-right: 0;
}

/*------- MAIN MAP BODY CONTENT -------*/
/* line 197, ../sass/style.scss */
aside#search-box {
  border-bottom: 1px solid #efefef;
  padding: 40px;
  background-color: #efefef;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(#efefef, #ececec);
  background-image: linear-gradient(#efefef, #ececec);
}
/* line 202, ../sass/style.scss */
aside#search-box form {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 82.97872%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
aside#search-box form:last-child {
  margin-right: 0;
}
/* line 204, ../sass/style.scss */
aside#search-box form input[type="email"], aside#search-box form input[type="number"], aside#search-box form input[type="password"], aside#search-box form input[type="search"], aside#search-box form input[type="tel"], aside#search-box form input[type="text"], aside#search-box form input[type="url"], aside#search-box form input[type="color"], aside#search-box form input[type="date"], aside#search-box form input[type="datetime"], aside#search-box form input[type="datetime-local"], aside#search-box form input[type="month"], aside#search-box form input[type="time"], aside#search-box form input[type="week"] {
  font-size: 26.17924px;
  padding: 20px 30px;
}
/* line 208, ../sass/style.scss */
aside#search-box form input[type="text"] {
  margin-bottom: 20px;
}
/* line 212, ../sass/style.scss */
aside#search-box a.button {
  border: 1px solid #0d816c;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #49d8be;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #1db89c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1db89c), color-stop(100%, #0e8f77));
  background-image: -webkit-linear-gradient(#1db89c, #0e8f77);
  background-image: linear-gradient(#1db89c, #0e8f77);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #07725f;
  background-clip: padding-box;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 14.89362%;
  float: right;
  font-size: 16.18px;
  padding: 10px 30px;
}
/* line 79, ../sass/bourbon/addons/_button.scss */
aside#search-box a.button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #29c6a9;
  cursor: pointer;
  background-color: #1d9e87;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d9e87), color-stop(100%, #0e806b));
  background-image: -webkit-linear-gradient(#1d9e87, #0e806b);
  background-image: linear-gradient(#1d9e87, #0e806b);
}
/* line 95, ../sass/bourbon/addons/_button.scss */
aside#search-box a.button:active:not(:disabled) {
  border: 1px solid #0d816c;
  box-shadow: inset 0 0 8px 4px #0d725f, inset 0 0 8px 4px #0d725f, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../sass/bourbon/addons/_button.scss */
aside#search-box a.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
aside#search-box a.button:last-child {
  margin-right: 0;
}
/* line 219, ../sass/style.scss */
aside#search-box select {
  position: relative;
  margin-right: 30px;
}

/* line 229, ../sass/style.scss */
#content-body aside#list-view ul li.user {
  *zoom: 1;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #bbbbbb;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#content-body aside#list-view ul li.user:before, #content-body aside#list-view ul li.user:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#content-body aside#list-view ul li.user:after {
  clear: both;
}
/* line 234, ../sass/style.scss */
#content-body aside#list-view ul li.user p {
  margin-bottom: 0px;
}
/* line 240, ../sass/style.scss */
#content-body div#map-view {
  border: 4px solid #bbbbbb;
}

/*------- Footer ---------*/
/* line 246, ../sass/style.scss */
footer .container {
  margin-top: 40px;
  border-top: 1px solid #bbbbbb;
}
