{% block content %}
<div class="about-content">
  <h1>WesPeople</h1>
  <h3>Connecting Wesleyan Alumni and Students</h3>
  <p>WesPeople was created by <a href="http://ecarmi.org" target="_blank">Evan Carmi</a> '13, <a href="http://lisasy.com" target="_blank">Lisa Sy</a> '13, <a href="http://diegocalderon.info" target="_blank">Diego Calderon</a> '13, and Brian Gapinski '14 at Wesleyan University during the <a href="http://weshack.com" target="_blank">Senior Week Hackathon 2013</a>.</p>
  <p class="last">Our code is public on Github at <a href="https://github.com/weshack/WesPeople.com" target="_blank">https://github.com/weshack/WesPeople.com</a></p>
  <h3>Sponsors:</h3><br />
  <ul>
    <li><img src="/static/img/github-logo.png" alt="" /></li>
    <li><img src="/static/img/squarespace.png" alt="" /></li>
    <li><img src="/static/img/oreilly.png" alt="" /></li>
    <li><img src="/static/img/linode.png" alt="" /></li>
    <li><img src="/static/img/pragmatic.png" alt="" /></li>
    <li><img src="/static/img/wescs-logo.jpg" alt="" /></li>
  </ul>
    
</div>
{% endblock %}

