{% extends "base.html" %}
  {% block content %}
    <div id="main-maps">
      <header id="topBar" class="container">
      <a href="#" id="logo"><img src="/static/img/wespeople-logo.png"></a>
      {% include "partials/searchfilter.html" %}
      {# <form action="/filter" method="get"> #}
        {#   <ul> #}
        {#   <li> #}
        {#       <label>Class Year:</label> #}
        {#         <select id="classyear"> #}
        {#           <option value="all">All Grad Year</option> #}
        {#           <option value="2013">2013</option> #}
        {#           <option value="2012">2012</option> #}
        {#           <option value="2011">2011</option> #}
        {#           <option value="2010">2010</option> #}
        {#         </select> #}
        {#         </li> #}

        {#         <li> #}
        {#       <label>Major:</label> #}
        {#       <select id="major"> #}
        {#         <option value="all">All Majors</option> #}
        {#         <option value="American Studies">American Studies</option> #}
        {#         <option value="Computer Science">Computer Science</option> #}
        {#       </select> #}
        {#       </li> #}
        {#       <li> #}
        {#       <label>Industry/Career:</label> #}
        {#       <select id="industry"> #}
        {#         <option value="all">All Careers</option> #}
        {#         <option value="American Studies">American Studies</option> #}
        {#         <option value="Computer Science">Computer Science</option> #}
        {#       </select> #}
        {#       </li> #}
        {#     </ul> #}
        {# </form> #}
        {#   <a href="#" class="button" type="submit">Find people!</a> #}

        </header>
        <div id="map"></div>
    <footer>
      <div class="container">
        <p>A WesHack 2013 project by 4 people.</p>
      </div>
      </footer>
    </div>
    <script type='text/javascript'>
      var mapId = 'ehc.map-shm0r7pp';
      var map = L.mapbox.map('map', mapId).setView([38.230062591265984, -98.50], 4);
      map.addControl(L.mapbox.geocoderControl('ehc.map-shm0r7pp'));

      var from_year;
      var to_year;
      {% if from_year %}
      from_year = {{ from_year }}
      {% endif %}
      {% if to_year %}
      to_year = {{ to_year }}
      {% endif %}


      jQuery(document).ready(function($){
        markers = new L.MarkerClusterGroup();
        if (from_year && to_year) {
          var url = "/api/geoperson?preferred_class_year__range=" + from_year + "," + to_year;
        } else if (from_year) {
          var url = "/api/geoperson?preferred_class_year=" + from_year;
        } else {
          var url = "/api/geoperson?preferred_class_year__gte=2000"
        }
        load_people(url, "");
      });

</script> 
    {% endblock %}
</body>
</html>

