{% extends "base.html" %}
  {% block content %}
    <div id="main-maps">
      <header id="topBar" class="container">
      <a href="http://wespeople.com/" id="logo"><img src="/static/img/wespeople-logo.png"></a>

      <h4 id="subtext">A tool to find and connect the Wesleyan network everywhere!</h4>
      {% include "partials/searchfilter.html" %}

        </header>
        
        <div id="map"></div>
        <div id="content-body">
          <aside id="list-view">
          <div class="title">
            <span id="spinner" style="position: absolute; left: 20px; top: 30px;"></span><h5 id="location" style="padding-left: 30px;"><span id="num_people">0</span> people found{% if location %} in<span id="location"> {{ location }}</span>{% endif %}.</h5>
          </div>

          </aside>
          </div>
          {% include "partials/footer.html" %}

    </div>
      {% block js %}
      {% endblock %}

<script type="text/javascript">
var opts = {
  lines: 8, // The number of lines to draw
  length: 1, // The length of each line
  width: 4, // The line thickness
  radius: 6, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: '#fff', // #rgb or #rrggbb
  speed: 0.5, // Rounds per second
  trail: 60, // Afterglow percentage
  shadow: false, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: 'auto', // Top position relative to parent in px
  left: 'auto' // Left position relative to parent in px
};
var target = document.getElementById('spinner');
var spinner = new Spinner(opts).spin(target);
</script>
    {% endblock %}
</body>
</html>
