{% block searchfilter %}

<form method="get" action="/search/" id="location-search">
  <input type="text" id="location-search-input" placeholder="Search by city and state.">
  <ul>
    <li>
    <label>Class Year:</label>
    <select id="year-select" name="year" data-placeholder="Choose year..." multiple class="chzn-select">
      <option value="all">All Grad Year</option>
      {% for year in years %}
      <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>

    </li>

    <li>
    <label>Major:</label>
    <select id="major-select" name="major" class="chzn-select">
      <option value="all">All Majors</option>
      {% for major in majors %}
      <option value="{{major }}">{{ major }}</option>
      {% endfor %}
    </select>
    </li>
    <li>
    <label>Industry/Career:</label>
    <select id="industry-select" name="industry" class="chzn-select">
      <option value="all">All Careers</option>
      {% for i in industries %}
      <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>
    </li>
  </ul>
  <input class="button" type="submit" value="Find people" />
</form>


  <script>
jQuery(document).ready(function($){
  console.log("Got this");
  $("#location-search").submit(function(e) {
    console.log(e);
    var location = $("#location-search-input").val()
    var year = $("#year-select").val()
    var major = $("#major-select").val()
    var industry = $("#industry-select").val()
    window.location = "/search?location=" + location + "&year=" + year + "&major="
    + major + "&industry=" + industry;
    e.preventDefault();
    });
});
  </script>


{% endblock %}
