@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

/************* Colors **************/
$first: #bbb;
$second: #ececec;
$third: #efefef;
$teal: #1DB89C;
$charcoal: #444;
$darkblue: rgba(37,67,89,0.8);

// Grid
.container{
  @include outer-container;
  #landing-signin{
    @include span-columns(6 of 12);
    @include shift(3);
    #initialSignLogIn{
      @include row();
      .alternative{
        @include row();
      }
    }
  }
}


/*------- Mixins ----------*/
@mixin inlineBar($direction, $sidemargin){
  ul{
    float: $direction;
    li{
      margin-left: $sidemargin;
      display: inline;
      list-style-type:none;
    }
  }
}


header#topBar{
  @include outer-container();
  a#logo{
    @include span-columns(3);
    // @include media($tablet){
    //   @include span-columns(12);
    // }
  }
  nav{
    @include span-columns(7);
    @include shift(2);
  }
  form{
    @include span-columns(8);
    @include shift(1);
    @include omega();
    @include media($tablet){
      @include span-columns(6);
    }
    input[type="text"]{
      // @include span-columns(8 of 8);
      @include row();
      // @include omega();
    }
    ul{
      @include omega();
      @include fill-parent;
      @include span-columns(6 of 8);
      li{
        // @include omega(3n);
        // @include span-columns(2);
      }
     }
    input.button{
      margin-top: 20px;
      @include span-columns(2 of 8);
      @include omega();
    }
    nav{
      @include inlineBar(right, 20px);
    }
  }
}
footer{
  @include span-columns(12);
  text-align: center;
}


/*------------- Global --------------*/
body, html{
    height:100%;
    margin:0;
    padding:0;
}

body{
  font-family: "futura-pt", $helvetica;
  color: $charcoal;
}

html, html a, input{
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1{font-size: golden-ratio(12px, 3);}
h2{font-size: golden-ratio(12px, 2);}
h3{font-size: golden-ratio(12px, 1);}
p, a{font-size: golden-ratio(12px, 1);}



a{
  color: $teal;
  text-decoration: none;
  @include transition(color, 0.5s, ease-in-out);
  &:hover{
    color: darken($teal, 15%);
  }
}

/*---------- Buttons ----------*/
a.button{
  @include button($teal);
  text-align: center;
  background: $teal;
  border:none;
  box-shadow:none;
}
input.button{
  @include button($teal);
  font-family: "futura-pt", $helvetica;
}
/*--------- Sign Up/Log In Forms -------*/
.background-gradient{
  margin: -5px;
  padding-bottom: 160px;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    @include background(linear-gradient(white, $third) left repeat);
}

#landing-signin{
  margin-top: 30px;
  h1,h2,h3{text-align: center;}
  header{
    img{
      // @include size(500px auto);
      @include span-columns (12);
      text-align: center;
      display: block;
      margin: 0 auto;
    }
  }
}

#initialSignLogIn{
  margin-top: 50px;
  input,a.button{
    margin-bottom: 20px;
    display: block;
  }
  .alternative{
    @include pad(30px);
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid $first;
    margin: auto -30px -30px -30px;
    text-align:center;
  }
}

#{$all-text-inputs}{
  @include transition(all 0.5s linear);
  border-radius: 6px;
  border: 1px solid $first;
  &:focus{
    outline: none;
    box-shadow: 0 0 10px #9ecaed;
    border: 1px solid #9ecaed;
  }
}

#{$all-text-inputs},a.button{
  font-size: golden-ratio(10px, 1);
  padding: 20px;
  width: 100%;
}

a.button{
  width: auto;
}

.box{
  @include linear-gradient($third, $second);
  @include pad(30px);
  border-radius: 10px;
  border: 1px solid $first;
  height: 100%;
}

// for Jquery
.signup-container{
  display: none;
}

/*------ Top Navigation Bar ------*/
header#topBar{
  @include pad(16px default);
  a#logo img{
    float:left;
    height: auto;
    margin-top: 10px;
    width: 100%;
  }
  nav{
    @include inlineBar(right, 40px);
    ul{
      li{
        a.search-link{
          text-transform: uppercase;
          box-shadow: none;
          background: white;
          border: 4px solid $teal;
          text-shadow: none;
          color: $teal; 
          padding: 12px 18px;
          &:hover{
            background: $teal;
            color: white;
          }
        }
      }
    }
  }
  form{
    
    margin-bottom: 20px;
    input{
      padding: 6px 20px;
    }
    ul{
      float: left;
      li{
        list-style-type: none;
        label{
          color: $first;
          display: block;
          font-weight: bold;
          text-transform: uppercase;
        }
        display: inline-block;
        margin-right: 30px;
        select{
          width: 100px;
        }
      }
    }
}
    input.button{
      background: $teal;
      border:none;
      float: right;
      font-size: golden-ratio(10px, 1);
      font-weight: 200;
      font-weight: bold;
      margin-top: 10px;
      padding: 10px 8px;
      text-shadow: none;
      text-transform: uppercase;
      &:hover{
        background: darken($teal, 5%);
      }
  }

}

#content-body{
  aside#list-view{
    z-index: 1000000;
      margin-top: 8px;
    background: rgba(37,67,89,0.8);
    position: absolute;
    color: white;
    left:0;
    .title{
      margin-bottom: 0px;
      padding: 0 10px 0 10px;
      // width: 160%;
      h2{
        padding: 10px 20px;
      }
    }
  }
}
/*------- Footer ---------*/
#footer-teaser{
  z-index: 100000000;
  position: absolute;
  bottom: 30px;
  left:30px;
  a{
    color: $darkblue;
    font-size: golden-ratio(12px,2);
    &:hover{
      color: darken($darkblue,10%);
    }
  }
}
footer#footer{
  display:none;
  padding:0;
  position: absolute;
  background: rgba(37,67,89,0.6);
  color: white;
  width: 100%;
  z-index: 1000;
  bottom:0;
  .container{
    margin-top: 20px;
    text-align: center;
    nav{
      @include inlineBar(left, 10px);
      ul{
        li{
          a{
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#map{
   bottom: 0px; 
   width:100%;
  border-top: 8px solid $darkblue;
  position:absolute; 
}

#map, #list-view{
  top:130px;
}

/*------ User Profile ------ */
$darkgradient: rgba(0,0,0,0.4);
$lightgradient: lighten($darkgradient, 10%);

.map-holder{
  @include linear-gradient($darkgradient,$lightgradient);
  .text-holder{
    @include row();
    h1,h2,h3,h4,p,a,small{
      color: white;
    }
    h1{float:left;}
    h3{float:right;}
  }
}

.profile-content{
  ul{
    li{
      list-style-type: none;
      span.title-label{
        font-weight: bold;
      }
    }
  }
}


/* ------- RESPONSIVE -----------*/

#map,#list-view{
  @include media(max-width 1170px){
    top: 160px;
  }
  @include media(max-width 769px){
    top: 200px;
  }
}

