<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>WesPeople: Connecting the Wesleyan Network Everywhere!</title>
    <link href="/static/stylesheets/style.css" rel="stylesheet" type="text/css">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet"> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div class="background-gradient">
  <div class="container">
    <div id="landing-signin">
      <header>
         <img src="wespeople-logo.png" alt="WesPeople" />
        <h3>Connecting Wesleyan Alumni and Students Everywhere</h3>
      </header>

      <section class="box" id="initialSignLogIn">
        <div class="login-container">
          <form action="" method="post">
            <label>Email Address</label>
            <input type="text" placeholder="Email Address"/>
            <label>Password</label>
            <input type="text" placeholder="Password"/>
            <a href="#" class="button">Log In</a>
          </form>
        </div>
        <div class="signup-container">
          <form action="" method="post">
            <label>Full Name</label>
            <input type="text" placeholder="Full Name"/>
            <label>Email Address</label>
            <input type="text" placeholder="Email Address"/>
            <label>Password</label>
            <input type="text" placeholder="Password"/>
            <label>Confirm Password</label>
            <input type="text" placeholder="Confirm Password"/>
            <a href="#" class="button">Sign Up</a>
          </form>
        </div>
        <div class="alternative">
          <small>or</small>
          <a href="#" id="login-toggle">sign up now!</a>
        </div>
      </section>
      <footer>
        <p>A WesHack 2013 project by 4 people.</p>
      </footer>
    </div>
  </div>
</div>
</body>
</html>
