<!DOCTYPE html>
<html>
<head>
  <!-- <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style> -->
  <style>
  #map { height: 180px; }
  </style>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
<![endif]-->

  <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
</head>
<body>

<!-- <div id='map'></div>
<script>
  mapbox.auto('mapembed', 'ehc.map-shm0r7pp');
</script> -->

<div id="map"></div>
<script>
  var map = L.map('map').setView([51.505, -0.09], 13);
</script>

</body>
</html>