<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>WesPeople: Connecting the Wesleyan Network Everywhere!</title>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet"/>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
    <link href="/static/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/MarkerCluster.Default.css" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/MarkerCluster.css" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js'></script>
    <script type="text/javascript" src="//use.typekit.net/leb2ulb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="/static/js/leaflet.markercluster.js"></script>
  </head>
<body>
  
    <div id="main-maps">
      <header id="topBar" class="container">
      <a href="#" id="logo"><img src="/static/img/wespeople-logo.png"></a>
      <form action="" method="post">
        <input type="text" class="text" value="" name="" placeholder="Search" />
      </form>
        <nav>
          <ul>
            <li>
              <a href="#"><i class="icon-user"> Your Profile</i></a>
            </li>
            <li>
            <a href="#"><i class="icon-cog"> Settings</i></a>
            </li>
            <li>
              <a href="index.html">Sign Out</a>
            </li>
          </ul>
        </nav>
        </header>

      <aside id="search-box">
        <div class="container">
          <!-- <h2>Search for Wesleyan people; -->
            <!-- There are 41,000 of us so far.</h2> -->
          <form action="" method="post">
            <input type="text" placeholder="Search for Wesleyan people by zipcode or city." name="" value="" />             
            <label>Class Year:</label>
              <select id="classyear">
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
              </select>

            <label>Major:</label>
            <select id="major">
              <option value="American Studies">American Studies</option>
              <option value="Computer Science">Computer Science</option>
            </select>
            <label>Industry/Career:</label>
            <select id="industry">
              <option value="American Studies">American Studies</option>
              <option value="Computer Science">Computer Science</option>
            </select>
            <input type="checkbox" name="" value="" />Interested in Contact
          </form>
          <a href="#" class="button">Find people!</a>
        </div>
        </aside>
        
      <section id="content-body">
            <div id="map"></div>
        <aside id="list-view">
        <div class="title">
          <h2>30 Wesleyan people found.</h2>
        </div>
          <ul>
            <li class="user">
            <h3><a href="#">Lisa Sy</a></h3>
            <p>Class of 2013</p>
            <p>American Studies</p>
            <p>Design/Tech</p>
            <p>San Francisco, CA</p>
            </li>
            <li class="user">
            <h3><a href="#">Lisa Sy</a></h3>
            <p>American Studies</p>
            <p>Design/Tech</p>
            <p>San Francisco, CA</p>
            </li>
          </ul>
          </aside>
          <div id="map-view">
          </div>
      </section>
      <footer>
      <div class="container">
        <p>A WesHack 2013 project by 4 people.</p>
      </div>
      </footer>
    </div>
    <script type='text/javascript'>
      var mapId = 'lisasy.map-y6rx0nct';
var map = L.mapbox.map('map', mapId)
    .setView([40, -74.50], 9);
    map.addControl(L.mapbox.geocoderControl(mapId));
</script> 
    <script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>

