/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/map.scss */
.leaflet-left {
  display: none;
}

/* line 16, ../sass/map.scss */
.leaflet-container {
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 21, ../sass/map.scss */
.leaflet-control-container input {
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-size: 19.416px;
  border: 10px solid #1db89c;
  padding: 10px 20px;
  background: rgba(37, 67, 89, 0.8);
  color: white;
}
/* line 31, ../sass/map.scss */
.leaflet-control-container input[type="submit"] {
  color: rgba(37, 67, 89, 0.8);
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  padding: 10px 20px;
  float: right;
}

/* popup */
/* line 41, ../sass/map.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
}

/* line 45, ../sass/map.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 51, ../sass/map.scss */
.leaflet-popup-content {
  margin: 14px 20px;
  line-height: 1.4;
}

/* line 55, ../sass/map.scss */
.leaflet-popup-content p {
  margin: 18px 0;
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 59, ../sass/map.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

/* line 66, ../sass/map.scss */
.leaflet-popup-tip {
  width: 15px;
  height: 15px;
  padding: 1px;
  margin: -8px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 79, ../sass/map.scss */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 84, ../sass/map.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 5px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 97, ../sass/map.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 100, ../sass/map.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* div icon */
/* line 108, ../sass/map.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/* line 112, ../sass/map.scss */
.leaflet-editing-icon {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 116, ../sass/map.scss */
.map-legends {
  border: 1px solid #bbb;
  box-sizing: border-box;
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 124, ../sass/map.scss */
.map-legends {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* line 129, ../sass/map.scss */
.map-legends .map-legend {
  padding: 10px;
}

/* line 133, ../sass/map.scss */
.map-tooltip {
  z-index: 999999;
  padding: 10px;
  max-width: 300px;
  opacity: 1;
  -webkit-transition: opacity 150ms;
  -moz-transition: opacity 150ms;
  -ms-transition: opacity 150ms;
  -o-transition: opacity 150ms;
  transition: opacity 150ms;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  border: 1px solid #bbb;
  box-sizing: border-box;
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-width: 180px;
  max-width: 280px;
  max-height: 400px;
  overflow: auto;
  width: 220px\8;
  /*< IE 9*/
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* line 166, ../sass/map.scss */
.map-tooltip .close {
  text-indent: -999em;
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAAAeCAYAAADO4udXAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHFSURBVHic7dpBbsIwEAXQoZpbwKKz8Bm66EFyjUicI1KuwUF6Ci/cBbmFJbqoLbluJezgMSn8JyGhJMRAvmZiw+5yuRBAay/3fgPwmBAsUIFggQoEC1QgWKACwQIVCBaoQLCgiIiMIjKWHo9gbVy4oJ/po9e42fPiUBERcemBxpiD935i5qO19ly6rzUR+SAics69a46zFc65WUSIKi9sA2MYN449O+fm0hcXVyzv/UREb977kzHmELeHUJ3Cvqn0fDfYhwfoi5WqKlREFRWLmY8hQPsQroGIKG4jooWZjzWDw3VJG4oXtnflWqU4WNbaszFmSMMVdsVQDdpt8NmkoYoVI2lPPY0iQjVVa1f774ak9cV2pBqqcE91rfUtre+57jGuiIxJgFa3oS0orljQxU03zGv8NeNzzr3eet6qipVVqyVs7toK43S7xYffmmwpoVulysPV4rstnhXmoWLmgZkH+g7YPp8twnOrXW74UZ2stecsXD2WG55F1Ur3Wtmss1mFrF1u+LUImswWp07LDcv1Q/6n3u1dc9ZZPSuExxErosa9HIIFKvAjNKhAsEAFggUqECxQgWCBCgQLVCBYoALBAhVfpi7sxwlEhWYAAAAASUVORK5CYII=) no-repeat 0 0;
  overflow: hidden;
  display: none;
}

/* line 173, ../sass/map.scss */
.map-tooltip.closable .close:active {
  border-color: #b0b0b0;
  background-color: #f0f0f0;
}

/* line 178, ../sass/map.scss */
.map-tooltip.closable .close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  background-position: -5px -5px;
  border-radius: 10px;
}

/* line 188, ../sass/map.scss */
.map-tooltip.closable .close {
  display: block;
}
