/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/************* Colors **************/
/* line 14, ../sass/style.scss */
.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container:after {
  clear: both;
}
/* line 16, ../sass/style.scss */
.container #landing-signin {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%;
  margin-left: 25.53191%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
.container #landing-signin:last-child {
  margin-right: 0;
}
/* line 19, ../sass/style.scss */
.container #landing-signin #initialSignLogIn {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn:before, .container #landing-signin #initialSignLogIn:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn:after {
  clear: both;
}
/* line 21, ../sass/style.scss */
.container #landing-signin #initialSignLogIn .alternative {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn .alternative:before, .container #landing-signin #initialSignLogIn .alternative:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn .alternative:after {
  clear: both;
}

/* line 28, ../sass/style.scss */
header#topBar {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
header#topBar:before, header#topBar:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
header#topBar:after {
  clear: both;
}
/* line 30, ../sass/style.scss */
header#topBar a#logo {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
header#topBar a#logo:last-child {
  margin-right: 0;
}
/* line 36, ../sass/style.scss */
header#topBar form {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-left: 8.51064%;
  margin-right: 0;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
header#topBar form:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 36, ../sass/style.scss */
  header#topBar form {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  /* line 41, ../sass/neat/grid/_span-columns.scss */
  header#topBar form:last-child {
    margin-right: 0;
  }
}
/* line 43, ../sass/style.scss */
header#topBar form input[type="text"] {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
header#topBar form input[type="text"]:before, header#topBar form input[type="text"]:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
header#topBar form input[type="text"]:after {
  clear: both;
}
/* line 48, ../sass/style.scss */
header#topBar form ul {
  margin-right: 0;
  width: 100%;
  display: block;
  float: left;
  margin-right: 3.22581%;
  width: 74.19355%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
header#topBar form ul:last-child {
  margin-right: 0;
}
/* line 57, ../sass/style.scss */
header#topBar form input.button {
  margin-top: 20px;
  display: block;
  float: left;
  margin-right: 3.22581%;
  width: 22.58065%;
  margin-right: 0;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
header#topBar form input.button:last-child {
  margin-right: 0;
}

/* line 64, ../sass/style.scss */
footer {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  text-align: center;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
footer:last-child {
  margin-right: 0;
}

/*------------- Global --------------*/
/* line 71, ../sass/style.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 77, ../sass/style.scss */
body {
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
}

/* line 82, ../sass/style.scss */
html, html a, input {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 87, ../sass/style.scss */
h1 {
  font-size: 33.88641px;
}

/* line 88, ../sass/style.scss */
h2 {
  font-size: 20.94339px;
}

/* line 89, ../sass/style.scss */
h3 {
  font-size: 19.416px;
}

/* line 90, ../sass/style.scss */
p {
  font-size: 14.562px;
}

/* line 94, ../sass/style.scss */
a {
  color: #1db89c;
  text-decoration: none;
  -webkit-transition: all, 0.25s, ease-in-out;
  -moz-transition: all, 0.25s, ease-in-out;
  transition: all, 0.25s, ease-in-out;
}
/* line 98, ../sass/style.scss */
a:hover {
  color: #137664;
}

/*---------- Buttons ----------*/
/* line 104, ../sass/style.scss */
a.button {
  border: 1px solid #0d816c;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #49d8be;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #1db89c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1db89c), color-stop(100%, #0e8f77));
  background-image: -webkit-linear-gradient(#1db89c, #0e8f77);
  background-image: linear-gradient(#1db89c, #0e8f77);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #07725f;
  background-clip: padding-box;
  text-align: center;
}
/* line 79, ../sass/bourbon/addons/_button.scss */
a.button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #29c6a9;
  cursor: pointer;
  background-color: #1d9e87;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d9e87), color-stop(100%, #0e806b));
  background-image: -webkit-linear-gradient(#1d9e87, #0e806b);
  background-image: linear-gradient(#1d9e87, #0e806b);
}
/* line 95, ../sass/bourbon/addons/_button.scss */
a.button:active:not(:disabled) {
  border: 1px solid #0d816c;
  box-shadow: inset 0 0 8px 4px #0d725f, inset 0 0 8px 4px #0d725f, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../sass/bourbon/addons/_button.scss */
a.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 108, ../sass/style.scss */
input.button {
  border: 1px solid #0d816c;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #49d8be;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #1db89c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1db89c), color-stop(100%, #0e8f77));
  background-image: -webkit-linear-gradient(#1db89c, #0e8f77);
  background-image: linear-gradient(#1db89c, #0e8f77);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #07725f;
  background-clip: padding-box;
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 79, ../sass/bourbon/addons/_button.scss */
input.button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #29c6a9;
  cursor: pointer;
  background-color: #1d9e87;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d9e87), color-stop(100%, #0e806b));
  background-image: -webkit-linear-gradient(#1d9e87, #0e806b);
  background-image: linear-gradient(#1d9e87, #0e806b);
}
/* line 95, ../sass/bourbon/addons/_button.scss */
input.button:active:not(:disabled) {
  border: 1px solid #0d816c;
  box-shadow: inset 0 0 8px 4px #0d725f, inset 0 0 8px 4px #0d725f, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../sass/bourbon/addons/_button.scss */
input.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*--------- Sign Up/Log In Forms -------*/
/* line 113, ../sass/style.scss */
.background-gradient {
  margin: -5px;
  padding-bottom: 160px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: -webkit-linear-gradient( white, #efefef) left repeat;
  background: linear-gradient( white, #efefef) left repeat;
}

/* line 123, ../sass/style.scss */
#landing-signin {
  margin-top: 30px;
}
/* line 125, ../sass/style.scss */
#landing-signin h1, #landing-signin h2, #landing-signin h3 {
  text-align: center;
}
/* line 127, ../sass/style.scss */
#landing-signin header img {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
#landing-signin header img:last-child {
  margin-right: 0;
}

/* line 137, ../sass/style.scss */
#initialSignLogIn {
  margin-top: 50px;
}
/* line 139, ../sass/style.scss */
#initialSignLogIn input, #initialSignLogIn a.button {
  margin-bottom: 20px;
  display: block;
}
/* line 143, ../sass/style.scss */
#initialSignLogIn .alternative {
  padding: 30px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #bbbbbb;
  margin: auto -30px -30px -30px;
  text-align: center;
}

/* line 154, ../sass/style.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-radius: 6px;
  border: 1px solid #bbbbbb;
}
/* line 158, ../sass/style.scss */
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
  border: 1px solid #9ecaed;
}

/* line 165, ../sass/style.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], a.button {
  font-size: 16.18px;
  padding: 20px;
  width: 100%;
}

/* line 171, ../sass/style.scss */
a.button {
  width: auto;
}

/* line 175, ../sass/style.scss */
.box {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(#efefef, #ececec);
  background-image: linear-gradient(#efefef, #ececec);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  height: 100%;
}

/* line 184, ../sass/style.scss */
.signup-container {
  display: none;
}

/*------- Mixins ----------*/
/*------ Top Navigation Bar ------*/
/* line 200, ../sass/style.scss */
header#topBar {
  padding: 16px 2.12766%;
}
/* line 202, ../sass/style.scss */
header#topBar a#logo img {
  margin-top: 10px;
  float: left;
  width: 100%;
  height: auto;
}
/* line 210, ../sass/style.scss */
header#topBar form {
  margin-bottom: 20px;
}
/* line 212, ../sass/style.scss */
header#topBar form input {
  padding: 6px 20px;
}
/* line 215, ../sass/style.scss */
header#topBar form ul {
  float: left;
}
/* line 217, ../sass/style.scss */
header#topBar form ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
}
/* line 219, ../sass/style.scss */
header#topBar form ul li label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 226, ../sass/style.scss */
header#topBar form ul li select {
  width: 100px;
}
/* line 232, ../sass/style.scss */
header#topBar input.button {
  float: right;
  margin-top: 10px;
  padding: 10px 8px;
  font-weight: 200;
  background: #1db89c;
  border: none;
  font-size: 16.18px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: none;
}
/* line 243, ../sass/style.scss */
header#topBar input.button:hover {
  background: #1aa289;
}
/* line 190, ../sass/style.scss */
header#topBar nav ul {
  float: right;
}
/* line 192, ../sass/style.scss */
header#topBar nav ul li {
  margin-left: 10px;
  display: inline;
  list-style-type: none;
}
/* line 251, ../sass/style.scss */
header#topBar nav ul li:last-child {
  margin-right: 0;
}

/* line 259, ../sass/style.scss */
#content-body aside#list-view {
  background: rgba(37, 67, 89, 0.8);
  z-index: 1000000;
  position: absolute;
  color: white;
  top: 80px;
  left: 0;
}
/* line 266, ../sass/style.scss */
#content-body aside#list-view .title {
  margin-top: -18px;
  width: 160%;
  background: #254359;
}
/* line 270, ../sass/style.scss */
#content-body aside#list-view .title h2 {
  padding: 10px 20px;
}
/* line 274, ../sass/style.scss */
#content-body aside#list-view ul {
  width: 100%;
  margin-top: -18px;
  padding: 0;
}
/* line 278, ../sass/style.scss */
#content-body aside#list-view ul li {
  list-style-type: none;
}
/* line 279, ../sass/style.scss */
#content-body aside#list-view ul li.user a {
  color: white;
  *zoom: 1;
  display: block;
  border-bottom: 1px solid #bbbbbb;
  pUsadding-left: 20px;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#content-body aside#list-view ul li.user a:before, #content-body aside#list-view ul li.user a:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#content-body aside#list-view ul li.user a:after {
  clear: both;
}
/* line 284, ../sass/style.scss */
#content-body aside#list-view ul li.user a p {
  margin: 0 auto;
  font-size: 16.18px;
  font-weight: 200;
}
/* line 289, ../sass/style.scss */
#content-body aside#list-view ul li.user a h3 {
  margin-bottom: 6px;
}
/* line 292, ../sass/style.scss */
#content-body aside#list-view ul li.user a:hover {
  background: #1db89c;
}

/* line 303, ../sass/style.scss */
#map {
  border-top: 8px solid rgba(37, 67, 89, 0.8);
  position: absolute;
  top: 130px;
  bottom: 0;
  width: 100%;
}

/*------ User Profile ------ */
/* line 315, ../sass/style.scss */
.map-holder {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(26, 26, 26, 0.4)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(26, 26, 26, 0.4));
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(26, 26, 26, 0.4));
}
/* line 317, ../sass/style.scss */
.map-holder .text-holder {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.map-holder .text-holder:before, .map-holder .text-holder:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.map-holder .text-holder:after {
  clear: both;
}
/* line 319, ../sass/style.scss */
.map-holder .text-holder h1, .map-holder .text-holder h2, .map-holder .text-holder h3, .map-holder .text-holder h4, .map-holder .text-holder p, .map-holder .text-holder a, .map-holder .text-holder small {
  color: white;
}
/* line 322, ../sass/style.scss */
.map-holder .text-holder h1 {
  float: left;
}
/* line 323, ../sass/style.scss */
.map-holder .text-holder h3 {
  float: right;
}

/* line 329, ../sass/style.scss */
.profile-content ul li {
  list-style-type: none;
}
/* line 331, ../sass/style.scss */
.profile-content ul li span.title-label {
  font-weight: bold;
}

/*------- Footer ---------*/
/* line 339, ../sass/style.scss */
footer .container {
  margin-top: 40px;
  border-top: 1px solid #bbbbbb;
  text-align: center;
}

/* ------- RESPONSIVE -----------*/
@media screen and (max-width: 1170px) {
  /* line 347, ../sass/style.scss */
  #map {
    top: 160px;
  }
}
@media screen and (max-width: 769px) {
  /* line 347, ../sass/style.scss */
  #map {
    top: 200px;
  }
}
