/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/************* Colors **************/
/* line 13, ../sass/style.scss */
.container {
  *zoom: 1;
  max-width: 80.5em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container:after {
  clear: both;
}
/* line 15, ../sass/style.scss */
.container #landing-signin {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%;
  margin-left: 25.53191%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
.container #landing-signin:last-child {
  margin-right: 0;
}
/* line 18, ../sass/style.scss */
.container #landing-signin #initialSignLogIn {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn:before, .container #landing-signin #initialSignLogIn:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn:after {
  clear: both;
}
/* line 20, ../sass/style.scss */
.container #landing-signin #initialSignLogIn .alternative {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn .alternative:before, .container #landing-signin #initialSignLogIn .alternative:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container #landing-signin #initialSignLogIn .alternative:after {
  clear: both;
}

/* line 29, ../sass/style.scss */
#main-maps aside#search-box {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#main-maps aside#search-box:before, #main-maps aside#search-box:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#main-maps aside#search-box:after {
  clear: both;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
#main-maps aside#search-box:last-child {
  margin-right: 0;
}

/* line 35, ../sass/style.scss */
footer {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  text-align: center;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
footer:last-child {
  margin-right: 0;
}

/*------------- Global --------------*/
/* line 42, ../sass/style.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 48, ../sass/style.scss */
body {
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
}

/* line 53, ../sass/style.scss */
html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 58, ../sass/style.scss */
h1 {
  font-size: 33.88641px;
}

/* line 59, ../sass/style.scss */
h2 {
  font-size: 20.94339px;
}

/* line 60, ../sass/style.scss */
h3 {
  font-size: 19.416px;
}

/* line 61, ../sass/style.scss */
p {
  font-size: 14.562px;
}

/* line 65, ../sass/style.scss */
a {
  color: #1db89c;
  text-decoration: none;
  -webkit-transition: all, 0.25s, ease-in-out;
  -moz-transition: all, 0.25s, ease-in-out;
  transition: all, 0.25s, ease-in-out;
}
/* line 69, ../sass/style.scss */
a:hover {
  color: #137664;
}

/*---------- Buttons ----------*/
/* line 75, ../sass/style.scss */
a.button {
  border: 1px solid #0d816c;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #49d8be;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #1db89c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1db89c), color-stop(100%, #0e8f77));
  background-image: -webkit-linear-gradient(#1db89c, #0e8f77);
  background-image: linear-gradient(#1db89c, #0e8f77);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #07725f;
  background-clip: padding-box;
  text-align: center;
}
/* line 79, ../sass/bourbon/addons/_button.scss */
a.button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #29c6a9;
  cursor: pointer;
  background-color: #1d9e87;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d9e87), color-stop(100%, #0e806b));
  background-image: -webkit-linear-gradient(#1d9e87, #0e806b);
  background-image: linear-gradient(#1d9e87, #0e806b);
}
/* line 95, ../sass/bourbon/addons/_button.scss */
a.button:active:not(:disabled) {
  border: 1px solid #0d816c;
  box-shadow: inset 0 0 8px 4px #0d725f, inset 0 0 8px 4px #0d725f, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../sass/bourbon/addons/_button.scss */
a.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*--------- Sign Up/Log In Forms -------*/
/* line 81, ../sass/style.scss */
.background-gradient {
  margin: -5px;
  padding-bottom: 160px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: -webkit-linear-gradient( white, #efefef) left repeat;
  background: linear-gradient( white, #efefef) left repeat;
}

/* line 91, ../sass/style.scss */
#landing-signin {
  margin-top: 30px;
}
/* line 93, ../sass/style.scss */
#landing-signin h1, #landing-signin h2, #landing-signin h3 {
  text-align: center;
}
/* line 95, ../sass/style.scss */
#landing-signin header img {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
#landing-signin header img:last-child {
  margin-right: 0;
}

/* line 105, ../sass/style.scss */
#initialSignLogIn {
  margin-top: 50px;
}
/* line 107, ../sass/style.scss */
#initialSignLogIn input, #initialSignLogIn a.button {
  margin-bottom: 20px;
  display: block;
}
/* line 111, ../sass/style.scss */
#initialSignLogIn .alternative {
  padding: 30px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #bbbbbb;
  margin: auto -30px -30px -30px;
  text-align: center;
}

/* line 122, ../sass/style.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-radius: 6px;
  border: 1px solid #bbbbbb;
}
/* line 126, ../sass/style.scss */
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
  border: 1px solid #9ecaed;
}

/* line 133, ../sass/style.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], a.button {
  font-size: 16.18px;
  padding: 20px;
  width: 100%;
}

/* line 139, ../sass/style.scss */
a.button {
  width: auto;
}

/* line 143, ../sass/style.scss */
.box {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(#efefef, #ececec);
  background-image: linear-gradient(#efefef, #ececec);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  height: 100%;
}

/* line 152, ../sass/style.scss */
.signup-container {
  display: none;
}

/*------- Mixins ----------*/
/*------ Top Navigation Bar ------*/
/* line 168, ../sass/style.scss */
header#topBar {
  *zoom: 1;
  display: block;
  padding: 0px 2.12766%;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
header#topBar:before, header#topBar:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
header#topBar:after {
  clear: both;
}
/* line 172, ../sass/style.scss */
header#topBar a#logo img {
  margin-top: 10px;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  float: left;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
header#topBar a#logo img:last-child {
  margin-right: 0;
}
/* line 178, ../sass/style.scss */
header#topBar form {
  margin-bottom: 30px;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%;
  margin-left: 8.51064%;
  *zoom: 1;
  display: block;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
header#topBar form:last-child {
  margin-right: 0;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
header#topBar form:before, header#topBar form:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
header#topBar form:after {
  clear: both;
}
/* line 183, ../sass/style.scss */
header#topBar form ul {
  float: left;
}
/* line 185, ../sass/style.scss */
header#topBar form ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
}
/* line 187, ../sass/style.scss */
header#topBar form ul li label {
  display: block;
}
/* line 193, ../sass/style.scss */
header#topBar a.button {
  float: right;
  margin-top: 10px;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 14.89362%;
  padding: 10px 8px;
  font-weight: 200;
  background: #1db89c;
  border: none;
  text-shadow: none;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
header#topBar a.button:last-child {
  margin-right: 0;
}
/* line 202, ../sass/style.scss */
header#topBar a.button:hover {
  background: #1aa289;
}
/* line 158, ../sass/style.scss */
header#topBar nav ul {
  float: right;
}
/* line 160, ../sass/style.scss */
header#topBar nav ul li {
  margin-left: 10px;
  display: inline;
  list-style-type: none;
}
/* line 210, ../sass/style.scss */
header#topBar nav ul li:last-child {
  margin-right: 0;
}

/*------- MAIN MAP BODY CONTENT -------*/
/* line 219, ../sass/style.scss */
aside#search-box {
  position: absolute;
  z-index: 1000000;
  border-bottom: 1px solid #efefef;
  padding: 20px;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(#ececec, #efefef);
  background-image: linear-gradient(#ececec, #efefef);
}
/* line 229, ../sass/style.scss */
aside#search-box form {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 82.97872%;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
aside#search-box form:last-child {
  margin-right: 0;
}
/* line 231, ../sass/style.scss */
aside#search-box form input[type="email"], aside#search-box form input[type="number"], aside#search-box form input[type="password"], aside#search-box form input[type="search"], aside#search-box form input[type="tel"], aside#search-box form input[type="text"], aside#search-box form input[type="url"], aside#search-box form input[type="color"], aside#search-box form input[type="date"], aside#search-box form input[type="datetime"], aside#search-box form input[type="datetime-local"], aside#search-box form input[type="month"], aside#search-box form input[type="time"], aside#search-box form input[type="week"] {
  font-size: 16.18px;
  padding: 10px 20px;
}
/* line 235, ../sass/style.scss */
aside#search-box form input[type="text"] {
  margin-bottom: 20px;
}
/* line 239, ../sass/style.scss */
aside#search-box a.button {
  border: 1px solid #0d816c;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #49d8be;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #1db89c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1db89c), color-stop(100%, #0e8f77));
  background-image: -webkit-linear-gradient(#1db89c, #0e8f77);
  background-image: linear-gradient(#1db89c, #0e8f77);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #07725f;
  background-clip: padding-box;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 14.89362%;
  float: right;
  font-size: 16.18px;
  padding: 10px 30px;
}
/* line 79, ../sass/bourbon/addons/_button.scss */
aside#search-box a.button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #29c6a9;
  cursor: pointer;
  background-color: #1d9e87;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d9e87), color-stop(100%, #0e806b));
  background-image: -webkit-linear-gradient(#1d9e87, #0e806b);
  background-image: linear-gradient(#1d9e87, #0e806b);
}
/* line 95, ../sass/bourbon/addons/_button.scss */
aside#search-box a.button:active:not(:disabled) {
  border: 1px solid #0d816c;
  box-shadow: inset 0 0 8px 4px #0d725f, inset 0 0 8px 4px #0d725f, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../sass/bourbon/addons/_button.scss */
aside#search-box a.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 41, ../sass/neat/grid/_span-columns.scss */
aside#search-box a.button:last-child {
  margin-right: 0;
}
/* line 247, ../sass/style.scss */
aside#search-box select {
  display: inline-block;
  font-size: 16.18px;
  position: relative;
  margin-right: 30px;
}
/* line 252, ../sass/style.scss */
aside#search-box select option {
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 259, ../sass/style.scss */
#content-body aside#list-view {
  background: rgba(37, 67, 89, 0.8);
  z-index: 1000000;
  position: absolute;
  color: white;
  top: 80px;
  left: 0;
}
/* line 266, ../sass/style.scss */
#content-body aside#list-view .title {
  margin-top: -18px;
  width: 160%;
  background: #254359;
}
/* line 270, ../sass/style.scss */
#content-body aside#list-view .title h2 {
  padding: 10px 20px;
}
/* line 274, ../sass/style.scss */
#content-body aside#list-view ul {
  width: 100%;
  margin-top: -18px;
  padding: 0;
}
/* line 278, ../sass/style.scss */
#content-body aside#list-view ul li {
  list-style-type: none;
}
/* line 279, ../sass/style.scss */
#content-body aside#list-view ul li.user a {
  color: white;
  *zoom: 1;
  display: block;
  border-bottom: 1px solid #bbbbbb;
  padding-left: 20px;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#content-body aside#list-view ul li.user a:before, #content-body aside#list-view ul li.user a:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#content-body aside#list-view ul li.user a:after {
  clear: both;
}
/* line 284, ../sass/style.scss */
#content-body aside#list-view ul li.user a p {
  margin: 0 auto;
  font-size: 16.18px;
  font-weight: 200;
}
/* line 289, ../sass/style.scss */
#content-body aside#list-view ul li.user a h3 {
  margin-bottom: 6px;
}
/* line 292, ../sass/style.scss */
#content-body aside#list-view ul li.user a:hover {
  background: #1db89c;
}

/* line 303, ../sass/style.scss */
#map {
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
}

/*------- Footer ---------*/
/* line 311, ../sass/style.scss */
footer .container {
  margin-top: 40px;
  border-top: 1px solid #bbbbbb;
  text-align: center;
}
